cmd/server/config.toml
cmd/applicants/applicants.exe
cmd/applicants/applicants
cmd/server/server.exe
cmd/server/server
cmd/cli/cli.exe
cmd/cli/cli
cmd/install/install
cmd/install/install.exe
web/web
web/web.exe
config.toml
guild.exe
guild
