cmd/applicants/applicants
cmd/applicants/applicants.exe
cmd/bot/bot
cmd/bot/bot.exe
cmd/cli/cli
cmd/cli/cli.exe
cmd/install/install
cmd/install/install.exe
cmd/recruits/recruits
cmd/recruits/recruits.exe
cmd/server/server
cmd/server/server.exe
web/web
web/web.exe
guild
guild.exe
config.toml
