<div class="container">

<div class="row">

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel-heading"><center><h4>Media</h4></center></div>
    <div class="panel-body">
      <center>
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/UVfdksFwV8s?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </center>
    </div>
    <div class="panel-footer">&nbsp;</div>
  </div>
</div>

<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">Recruitment</div>
    <div class="panel-body">Panel Content</div>
    <div class="panel-footer"></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Progression</div>
    <div class="panel-body">Panel Content</div>
    <div class="panel-footer"></div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Mythic+ Leaderboard</div>
    <div class="panel-body">Panel Content</div>
    <div class="panel-footer"></div>
  </div>
</div>

</div>

</div>
