{{define "content"}}
<div class="container">

  {{if not .CanPost}}  
  <div class="panel panel-default">
    <div class="panel-heading">
      <center><h3>Login</h3></center>
    </div>
    <div class="panel-body">
      <center>You need to login first, dumbfuck.</center>
    </div>
    <div class="panel-footer">
      <center><a href="/login">whoops lemme just do that real quick</a></center>
    </div>
  </div>
  {{else}}
  <form action="new_news" method="POST" role="form" class="form-horizontal">
    <div class="panel panel-default">
      <div class="panel-heading">
        <input type="text" class="form-control" name="news_title" id="news_title" placeholder="Post Title Goes Here">
      </div>
      <div class="panel-body">
        <textarea class="form-control" name="news_body"rows="3"></textarea>
      </div>
      <div class="panel-footer">
        <button type="submit" class="btn btn-default">Post</button>
      </div>  
    </div>    
  </form>
  {{end}}

</div>
{{end}}
