{{define "content"}}
<div class="container">
  {{with .guildinfo}}
  <div class="panel panel-default">
    <div class="panel-body">
    Realm: {{.Realm}}<br>
    Battlegroup: {{.Battlegroup}}<br>
    Achievement Points: {{.AchievementPoints}}<br>
    </div>
  {{end}}
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Members</h2>
    </div>
    <div class="panel-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th>Rank</th>
            <th>Class</th>
            <th>Race</th>
            <th>Gender</th>
            <th>Level</th>
          </tr>
        </thead>
        <tbody>
        {{with .guildinfo}}
          {{range .Members}}
          <tr>
            <th><img src="https://render-us.worldofwarcraft.com/character/{{.Character.Thumbnail}}"></th>
            <th>{{.Character.Name}}</th>
            <th>{{.Rank}}</th>
            <th>{{.Character.Class}}</th>
            <th>{{.Character.Race}}</th>
            <th>{{.Character.Gender}}</th>
            <th>{{.Character.Level}}</th>
          </tr> 
          {{end}}
        {{end}}
        </tbody>
      </table>
    </div>
  </div>
</div>
{{end}}
