<div class="container">
<!-- SHOW THIS IF THE USER IS NOT LOGGED IN -->
  <div class="well well-sm" ng-if="!User.LoggedIn"><center>Click <a href="/login">here</a> to authenticate via the Battle.net API.<br>(You'll need to navigate to this page again)</center></div>
<!-- /SHOW THIS IF THE USER IS NOT LOGGED IN -->

<!-- SHOW THIS IF THE USER IS LOGGED IN BUT HASN'T APPLIED YET -->
<!-- START OF CHARACTER LISTING  -->
    <div ng-if="User.LoggedIn && !User.Applied">
    <!--form action="/apply" method="POST"-->
      <form ng-submit="Apply()">
        <div class="panel panel-default">
          <div class="panel-heading"><h3>Your Level 110 Characters</h3></div>

            <div class="panel-body">
              <small>Select one:</small>
              <table class="table">
                <thead>
                  <tr>
                    <th>&nbsp;</th>
                    <th>&nbsp;</th>
                    <th>Name</th>
                    <th>Realm</th>
                    <th>BattleGroup</th>
                  </tr>
                </thead>
	        <tbody>
                  <tr ng-repeat="character in User.Characters">
                    <td><input type="radio" ng-model="Application.Character" value="{{character.name}} {{character.realm}} {{character.battlegroup}}"></td>
                    <td><img src="https://render-us.worldofwarcraft.com/character/{{character.thumbnail}}"></td>
                    <td>{{character.name}}</td>
                    <td>{{character.realm}}</td>
                    <td>{{character.battlegroup}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading"><h3>Personal Information</h3></div>
              <div class="panel-body">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" ng-model="Application.Email" placeholder="Email">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="realname" ng-model="Application.RealName" placeholder="Real Name (Can enter first name only)">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="location" ng-model="Application.Location" placeholder="Location">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="age" ng-model="Application.Age" placeholder="Age">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control" id="gender" ng-model="Application.Gender" placeholder="Gender">
                </div>
              </div>
           </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h3>Questionnaire</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <label for="comment">Computer Specs:</label>
          <textarea class="form-control" rows="5" id="computerspecs" ng-model="Application.ComputerSpecs" placeholder="Describe your processor, graphics card, etc."></textarea>
        </div>
        <div class="form-group">
          <label for="comment">Previous Guilds:</label>
          <textarea class="form-control" rows="5" id="previousguilds" ng-model="Application.PreviousGuilds" placeholder="Guilds you've played with before, and servers they reside in."></textarea>
        </div>
        <div class="form-group">
          <label for="comment">Reasons for Leaving:</label>
          <textarea class="form-control" rows="5" id="leavingreasons" ng-model="Application.ReasonsLeavingGuilds" placeholder="Why did you leave your previous guilds?"></textarea>
        </div>
        <div class="form-group">
          <label for="comment">Reason(s) for Joining NoBelfsAllowed:</label>
          <textarea class="form-control" rows="5" id="whyjoin" ng-model="Application.WhyJoinThisGuild" placeholder="Why do you want to join NoBelfsAllowed and not another guild?"></textarea>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading"><h3>Final Step</h3></div>
      <div class="panel-body">
        <div class="form-group">
          <label for="comment">References:</label>
          <input type="text" class="form-control" id="references" ng-model="Application.References" placeholder="People we can contact to research you.">
        </div>
        <div class="form-group">
          <label for="comment">Final Remarks:</label>
          <textarea class="form-control" rows="5" id="finalremarks" ng-model="Application.FinalRemarks" placeholder="Links to VODs of boss kills, your personal Twitch.tv stream, or other things that might make you look good."></textarea>
        </div>
      </div>
      <div class="panel-footer">
        <center><button type="submit" class="btn btn-default">Submit Application</button></center>
      </div>
    </div>
  </form>
  </div>
</div>
<!-- /SHOW THIS IF THE USER IS LOGGED IN BUT HASN'T APPLIED YET -->

<!-- SHOW THIS IF THE USER SUCCESSFULLY APPLIED -->
<div ng-if="User.LoggedIn && User.Applied">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
	  <h5>yay</h5>
        </div>
        <div class="panel-body">
	  <center>Congratulations on applying. <br>
		Don't whisper us in-game with inquiries about your app. <br>
		We'll contact you if we're interested. <br>
	  </center>
        </div>
        <div class="panel-footer"><a href="/">sweet</a></div>
      </div>
    </div>
  </div>
</div>

<!-- /SHOW THIS IF THE USER SUCCESSFULLY APPLIED -->

