<div ng-controller="guildController">
  <div class = image>
	<img src = "../images/logo.png">
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">The Nomads</a>
      </div>
      <ul class="nav navbar-nav">
        <li>&emsp;</li>
        <li>&emsp;</li>
      </ul>
      <ul class="nav navbar-nav">
        <li ng-click="ChangeView('home')"><a href="">Home</a></li>
        <li ng-click="ChangeView('about')"><a href="">About</a></li>
        <li ng-click="ChangeView('media')"><a href="">Media</a></li>
        <li ng-click="ChangeView('roster')"><a href="">Roster</a></li>
        <li ng-click="ChangeView('apply')"><a href="">Apply</a></li>
       <li><a href="https://www.warcraftlogs.com/guild/id/337011">Logs</a></li>
      </ul>

      <!-- Show if user is NOT logged in -->
      <ul class="nav navbar-nav navbar-right" ng-if="!User.LoggedIn">
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      </ul>

      <!-- Show if user is logged in -->
      <ul class="nav navbar-nav navbar-right" ng-if="User.LoggedIn">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> {{User.BattleTag}}</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Logout </a></li>
      </ul>

    </div>
  </nav>
</div>
