/* BEGIN HTML OVERRIDE */
@import url(//fonts.googleapis.com/css?family=Open+Sans:700);
body { 
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
/* END HTML OVERRIDE*/



/* BEGIN BOOTSTRAP PANEL */
.panel-default > .panel-heading {
  background: #4F4F4F;
  color: #FFFFFF;
}
.panel-body {
  background: #FFFFFF;
}
.panel-footer {
  background: #4F4F4F;
  color: #FFFFFF;
}
/* END BOOTSTRAP PANEL */



/* BEGIN BOOTSTRAP NAVBAR */
.navbar-wrapper {
  margin-top: 20px;
}
.navbar-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}
.navbar-default {
  background-color: #4F4F4F;
  border-color: #ABABAB;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecf0f1;
  background-color: #ABABAB;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecf0f1;
  background-color: #ABABAB;
}
.navbar-default .navbar-toggle {
  border-color: #ABABAB;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ABABAB;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecf0f1;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #ABABAB;
  }
}
/* END BOOTSTRAP NAVBAR */

