/* BEGIN HTML OVERRIDE */
@import url(//fonts.googleapis.com/css?family=noto-sans:500);
body { 
  background-image: url('../images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family : 'Noto Sans', sans-serif;
}
/* END HTML OVERRIDE*/

.image{
	position: relative
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: left;
	z-index: 2;
}

/* BEGIN BOOTSTRAP PANEL */
.panel-default{
  border-color: #36335e;
  
}
.panel-default > .panel-heading {
  background: #cbebf8;
  border-color: #36335e;
  color: #36335e;
}
.panel-body {
  background: #f6fcfc;
  border-color: #36335e;
}
.panel-footer {
  background: #cbebf8;
  color: #36335e;
  border-color: #36335e;
}
/* END BOOTSTRAP PANEL */



/* BEGIN BOOTSTRAP NAVBAR */
.navbar-wrapper {
  margin-top: 20px;
}
.navbar-wrapper .container {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar {
  padding-right: 0;
  padding-left: 0;
}
.navbar-default {
  background-color: #cbebf8;
  border-color: #36335e;
  width: 75%;
  float: left;
  margin-top: 95px;
  margin-left: -1px;
  z-index: 1;
}
.navbar-default .navbar-brand {
  color: #36335e;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #000000;
}
.navbar-default .navbar-text {
  color: #36335e;
}
.navbar-default .navbar-nav > li > a {
  color: #36335e;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #000000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #000000;
  background-color: #ABABAB;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #000000;
  background-color: #ABABAB;
}
.navbar-default .navbar-toggle {
  border-color: #ABABAB;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ABABAB;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecf0f1;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecf0f1;
    background-color: #ABABAB;
  }
}
/* END BOOTSTRAP NAVBAR */

