<div class="container-fluid">
  <div class="row pt-4">
    <div class="col"></div>
    <div class="col pt-4 text-center">
      <img src="assets/logo.png">
      <router-outlet></router-outlet>
    </div>
    <div class="col"></div>
  </div>
  <div class="row py-4">
    <div class="col-md-4"></div>
    <div class="col text-center">
      <a href="https://forms.gle/kr6qvzKYYnNifwNe7" target="_blank">Apply</a>
    </div>
    <div class="col-md-4"></div>
  </div>
  <footer class="footer fixed-bottom">
    <div class="row pb-2">
      <div class="col-md-4"></div>
      <div class="col text-center">
        <a href="https://worldofwarcraft.com/en-us/guild/us/thrall/the-nomads" target="_blank">
          <img src="assets/wow-icon.png" width="32px" height="32px">
        </a>
        &nbsp;
        <a href="https://raider.io/guilds/us/thrall/The%20Nomads" target="_blank">
          <img src="assets/raiderio.webp" width="32px" height="32px">
        </a>
        &nbsp;
        <a href="https://www.warcraftlogs.com/guild/us/thrall/The%20Nomads" target="_blank">
          <img src="assets/warcraftlogs.png" width="32px" height="32px">
        </a>
      </div>
      <div class="col-md-4"></div>
    </div>
  </footer>
</div>